<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="center">
    <div class="center">
        <div class="blur-background">
            <h1>Login</h1>
            <form th:action="@{/auth/login}" th:object="${loginRequest}" method="post">
                <input type="text" th:field="*{username}" placeholder="Username" required>
                <input type="password" th:field="*{password}" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <!-- Display error message if login fails -->
            <p>Don’t have an account? <a href="signup">Sign up here</a></p>
            <p th:if="${loginError}" th:text="${loginError}" style="color: red;"></p>
        </div>
    </div>

</div>
</body>
</html>







