<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="center">
    <div class="blur-background">
        <h1>Sign Up</h1>

        <form action="signup" method="POST" th:object="${user}">
            <!-- Username Field with Error Handling -->
            <input type="text" class="input-field" name="username" placeholder="Username" th:field="*{username}" required>
            <div th:if="${#fields.hasErrors('username')}" style="color: red;">
                <p th:errors="*{username}">Username Error</p>
            </div>

            <!-- Password Field with Error Handling -->
            <input type="password" class="input-field" name="password" placeholder="Password" th:field="*{password}" required>
            <div th:if="${#fields.hasErrors('password')}" style="color: red;">
                <p th:errors="*{password}">Password Error</p>
            </div>

            <button type="submit" class="button">Sign Up</button>
        </form>


        <p>Already have an account? <a href="/auth/login">Log in here</a></p>
    </div>
</div>
</body>
</html>
