<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<section>
    <form>
        <h1>Sign Up</h1>
        <div class="inputbox">
            <ion-icon name="person-outline"></ion-icon>
            <input type="text" id= "username" name="username" required>
            <label for="">Name</label>
        </div>

        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" id="password" name="password" required>
            <label for="">Password</label>
        </div>
        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" id="passwordcon" name="passwordcon" required>
            <label for="">Confirm Password</label>
        </div>
        <button id= "submit" type="submit">Sign Up</button>
        <div class="register">
            <p>Already have an account? <a href="/auth/login">Log In</a></p>
        </div>
    </form>
</section>
</body>

<script>
    document.querySelector('form').addEventListener('submit', (event) => {
        event.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('passwordcon').value;

        if (password === confirmPassword) {
            const data = { username, password };
            const jsonData = JSON.stringify(data);

            fetch('/auth/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: jsonData,
            })
                .then((response) => {
                    if (response.ok) {
                        alert('Signup successful!');
                    } else {
                        alert('Signup failed!');
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert('An error occurred during signup.');
                });
        } else {
            alert('Passwords do not match.');
        }
    });



</script>
</body>
</html>
